---
import getReadingTime from "reading-time";
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import AppLayout from "@layouts/AppLayout.astro";
import BlogCard from "@components/BlogCard.astro";

const inDevMode = import.meta.env.MODE === "development";

const posts = (await getCollection("blog"))
  .filter((blog) => inDevMode || !blog.data.draft)
  .filter((blog) => blog.data.hasBlogCard)
  .sort((a, b) => {
    // Prioritize draft blogs
    if (a.data.draft && !b.data.draft) return -1;

    // Sort by dates if they have the same pinned status
    if (b.data.pinned == a.data.pinned) {
      const aDate = a.data.updatedDate ?? a.data.pubDate; // Use updatedDate if available, else pubDate
      const bDate = b.data.updatedDate ?? b.data.pubDate;
      return bDate.valueOf() - aDate.valueOf();
    }

    // Prioritize pinned blogs
    return Number(b.data.pinned) - Number(a.data.pinned);
  });

const title = "Blog | Eshaan Aggarwal";
const description =
  "My personal collection of code snippets, starter guides, tutorials and interesting things I found online. Meant to be my safe haven of content that I find too trivial to publish anywhere else.";
---

<AppLayout title={title} description={description}>
  <Header title="Random Ramblings" />
  <p
    class="max-w-prose mb-10 font-normal dark:text-zinc-400 text-zinc-600 leading-relaxed"
  >
    {description}
  </p>
  {
    posts.length === 0 ? (
      <div class="text-zinc-600 p-0 m-0 dark:text-zinc-400">
        Oops😔 I still haven't started writing. Please check up on me later?
      </div>
    ) : (
      <ul class="flex flex-col gap-8 sm:border-l sm:dark:border-zinc-800">
        {/* Blog cards */}
        {posts.map((post) => (
          <BlogCard
            title={post.data.title}
            pubDate={post.data.pubDate}
            updatedDate={post.data.updatedDate}
            description={post.data.description}
            url={`/blog/${post.slug}/`}
            readingTime={getReadingTime(post.body).text}
            tags={post.data.tags}
            draft={post.data.draft}
          />
        ))}
      </ul>
    )
  }
</AppLayout>
