---
import { z } from "zod";
import { Image } from "astro:assets";
import { author } from "@data/socials";
import authorImage from "../assets/me.jpeg";
import Skill from "@components/Skill.astro";
import AppLayout from "@layouts/AppLayout.astro";
import techArray from "@data/technologies.json";

const techSchema = z.object({
  link: z.string().url(),
  text: z.string().min(1).max(12),
  logo: z.string().min(5),
});

const technologies = techArray.map((tech) => techSchema.parse(tech));
---

<AppLayout>
  <header class="sm:flex sm:items-center sm:justify-between">
    <Image
      src={authorImage}
      class="rounded-full aspect-square w-60 overflow-hidden inline-flex"
      alt="Image of the author smiling and eating desserts"
      loading="eager"
      width={400}
      height={400}
    />
    <div class="mt-8 max-w-lg 2xl:max-w-xl sm:my-0 sm:order-first">
      <h1
        class="mb-2 text-3xl font-bold tracking-tight dark:text-white text-zinc-900 sm:text-4xl"
      >
        {author}
      </h1>
      <h2 class="mb-4 dark:text-zinc-300 text-zinc-700 text-lg">
        Software Developer and Serial Procastinator
      </h2>
      <p
        class="max-w-prose font-normal dark:text-zinc-400 text-zinc-600 sm:max-w-sm md:max-w-xl leading-relaxed"
      >
        Welcome to my slice of the internet! I am a pre-final year student in
        Computer Science Engineering at the Indian Institute of Technology,
        Varanasi.
        <br />
         In my free time, I listen to music, rant about TypeScript, build stuff
        and experiment with new technologies.
      </p>
    </div>
  </header>
  <section class="mt-10 sm:mt-14" aria-labelledby="section-title">
    <h2
      class="dark:text-zinc-300 text-zinc-700 mb-4 text-2xl font-bold tracking-tight"
      id="section-title"
    >
      Tech I Work With!
    </h2>
    <p
      class="max-w-prose mb-8 font-normal dark:text-zinc-400 text-zinc-600 leading-relaxed"
    >
      I love exploring new libraries, programing languages and frameworks. For
      the better part of the last year, I have divided head first, into soo-many
      new frameworks and technologies that it is hard to keep track of! Here is
      a small overview of them!
    </p>
    <ul class="grid grid-cols-1 gap-3 sm:grid-cols-3 md:grid-cols-4">
      {
        technologies.map((tech) => (
          <Skill link={tech.link} text={tech.text} logo={tech.logo} />
        ))
      }
    </ul>
  </section>
</AppLayout>
